name: .NET Desktop

on:
  push:
    branches: [ "master", "main" ]
  pull_request:
    branches: [ "master", "main" ]

jobs:

  build:

    strategy:
      matrix:
        configuration: [Debug, Release]

    runs-on: windows-latest

    env:
      Solution_Name: FastP.sln
      Test_Project_Path: FastP.Tests/FastP.Tests.csproj

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Install .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Create Solution if not exists
      run: |
        if (!(Test-Path FastP.sln)) {
            dotnet new sln -n FastP
            dotnet sln add FastP.csproj
            dotnet sln add FastP.Tests/FastP.Tests.csproj
        }
      shell: powershell

    - name: Restore dependencies
      run: dotnet restore
      
    - name: Build
      run: dotnet build --configuration ${{ matrix.configuration }} --no-restore

    - name: Test
      run: dotnet test --configuration ${{ matrix.configuration }} --no-build --verbosity normal

    # Публикация артефактов (только для Release)
    - name: Publish
      if: matrix.configuration == 'Release'
      run: dotnet publish FastP.csproj -c Release -r win-x64 --self-contained true -p:PublishSingleFile=true -o ./publish

    - name: Upload Artifacts
      if: matrix.configuration == 'Release'
      uses: actions/upload-artifact@v4
      with:
        name: FastP-Windows-x64
        path: ./publish/FastP.exe
